*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
     width: 100vw;
     background-color: rgb(92, 92, 92);
}

.container
{
    width:70%;
    height:500px;
    margin: auto;
    
    
}

header
{
height: 40px;
background-color: rgb(148, 107, 54);
display: flex;
flex-direction: row;
padding-inline: 80px;
}

header>*{
padding: 8px;
flex: 1 1 33.33%;
border: 1px dashed;

}

.box>*{
    display: flex;
    border: 1px dashed;
}

.nav1{gap:9px; aqua;}
.nav2{justify-content: space-between;;}
.nav3{gap: 20px; justify-content: end;}


main{
padding-inline: 80px;    
height: 100%;
border: 1px dashed;
background-color: beige;

}


.topic
{height: 80px;
    background-color: brown;
border: 1px dashed;
}

.topic h3{
    margin-top: 50px;
    font-size: 25px;    
}

.information
{
width: 100%;
height: 420px;
border: 1px dashed;
display: flex;
}

.information>*
{
    padding: 8px;
border: 1px dashed;
flex: 1 1 33.33%;
background-color: azure;
}

.item1>*
{height: 200px;

flex: 1 1 33.33%;
border: 1px dashed;
}

.item2>*{
display: flex;
height: 400px;
border: 1px dashed;
background-color: yellowgreen;
}