*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
     width: 100vw;
     background-color: rgb(92, 92, 92);
}

.container
{
    width:70%;
    max-width: 1131px;
    min-width: 966;
    height:500px;
    margin: auto;
    
    
}

header
{
height: 40px;
background-color: rgb(148, 107, 54);
display: flex;
flex-direction: row;
padding-inline: 80px;
}

header>*{
padding: 8px;
flex: 1 1 33.33%;
border: 1px dashed;

}

.box>*{
    display: flex;
    border: 1px dashed;
}

.nav1{gap:9px; aqua;}
.nav2{justify-content: space-between;;}
.nav3{gap: 20px; justify-content: end;}


main{
padding-inline: 80px;    
height: 100%;
border: 1px dashed;
background-color: beige;

}


.topic
{height: 100px;
    background-color: brown;
border: 1px dashed;
}

.topic h3{
    margin-top: 50px;
    font-size: 25px;    
}

.information
{
width: 100%;
height: 400px;
border: 1px dashed;
display: flex;
}

.information>*
{
    padding: 8px;
border: 1px dashed;
flex: 1 1 33.33%;
background-color: azure;
}

.item1>*
{height: 190px;
padding-block: 8px;
flex: 1 1 33.33%;
border: 1px dashed;
}

.sub-con1{
    border-radius: 10px;
    background-color: rgb(91, 91, 233);
    height: 100%;
    display: flex;
    
}

.sub-con1>*{
border: 1px dashed;
flex:1  1 50%
}

.item2>*{
display: flex;
padding-block: 8px;
height: 320px;
border: 1px dashed;
background-color: yellowgreen;
}



.sub-con2{
    border-radius: 10px;
    background-color: rgb(91, 91, 233);
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-con2>*{
border: 1px dashed;
}
.p-3{
    flex-grow: 60;

}

.d-3{
    flex-grow: 40;
    
}