*{margin: 0;
padding: 0;
box-sizing: border-box;
}

html{font-family: "Exo 2", sans-serif;}

body
{
     width: 100vw;
     background-color: rgb(92, 92, 92);
}

.container
{
    width:70%;
    max-width: 1131px;
    min-width: 966;
    height:500px;
    margin: auto;
    
    
}

header
{
height: 50px;
background-color: rgb(238, 238, 238);
display: flex;
flex-direction: row;
padding-inline: 80px;
border: 2px solid  rgb(226, 226, 226);
}

header>*{

flex: 1 1 33.33%;
/* border: 1px dashed; */

}

#l{font-size:12px ;
    color: black;
    text-decoration: none;}

#logo{
   
    width:180px;
    margin-top: 5px;
}

.box>*{
    display: flex;
    /* border: 1px dashed; */
}

.nav1{
    padding: 0px;
}
.nav2{
    justify-content: space-evenly;
    padding: 15px;}
.nav3{
    gap: 20px; 
    justify-content: end;
    padding: 15px;}

.fa-cart-shopping{position: relative;}

    .fa-circle-exclamation{
        font-size: 10px;
        position:absolute;
        right:-5px;
        top: -5px;
    }




main{
padding-inline: 80px;    
height: 100%;
/* border: 1px dashed; */
background-color: rgb(238, 238, 238);
}


.topic
{height: 90px;
    /* background-color: brown; */
/* border: 1px dashed; */
}

.topic>h3{
    padding-top:60px ;
    margin-top: px;
    font-size: 25px;    
}

.information
{
width: 100%;
height: 400px;
/* border: 1px dashed; */
display: flex;
}

.information>*
{
    
    padding: 8px;
/* border: 1px dashed; */
flex: 1 1 33.33%;
/* background-color: azure; */
}

.item1>*
{height: 190px;
padding-block: 8px;
flex: 1 1 33.33%;
/* border: 1px dashed; */
}

.sub-con1{
    box-shadow: 1px 1px 10px 0px #a8a8a8;
    
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    height: 100%;
    /* width: 300px; */
    display: flex;
    padding:30px ;
}

.sub-con1>*{
/* border: 1px dashed; */
flex:1  1 50%;
}

.pic1{display: flex;
    gap: 30px;
justify-content:flex-start;
}

#bin{align-self: center;
    color:  rgb(48, 233, 171);
}

#doc{
    height:110px; width: 110px;
}


.detail-lay-1{
    display: flex;
flex-direction: column;
justify-content: space-evenly;}
à¹ˆ 

.detail-lay-1,#gdog{font-size: 20px;}

.i, #dot1{
    font-size: 15px;
    margin-top: 5px;
    color: aquamarine;}

.bar{position: flex;
}
#class{
    /* background-color:red ; */
    /* border: 1px dashed; */
    width: 60px;
}

.item2>*{
display: flex;
padding-block: 8px;
height: 320px;
/* border: 1px dashed; */
/* background-color: yellowgreen; */
}



.sub-con2{
    border-radius: 10px;
    /* background-color: rgb(91, 91, 233); */
    /* height: 100%; */
    width: 100%;
    border: 2px rgb(226, 226, 226) solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sub-con2>*{
border: none;
}
.p-3{
    flex-grow: 60;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.pic2{display: flex;
    gap: 30px;
justify-content:flex-start;
}

.detail-lay-2{
    display: flex;
flex-direction: column;
justify-content: space-evenly;}



.detail-lay-2,#gdog{font-size: 20px;}

.i, #dot1{
    font-size: 15px;
    margin-top: 5px;
    color: aquamarine;
    position: relative;
}

#level-1{
    position:absolute;
    border: none;
    background-color:#f3f3f3;
    
    
}


    .i, #dot2{
    font-size: 15px;
    margin-top: 5px;
    color: aquamarine;
    position: relative;
}


#ford{font-size: 19px;}

.child3{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.child4{ display: flex;
    gap: 10px;
    justify-content: center;
justify-content: space-between;}


#cod{
    
    width: 300px;

}


#butt1{ width:120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid ;
    color:  rgb(48, 233, 171);
    /* align-self: center;  */
  
}  

.fa-ticket{
    color: rgb(48, 233, 171);
    margin-top: 10px;
}


.d-3{
    flex-grow: 40;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.child5{display: flex;
justify-content: space-between;
}

#butt2{
    width:100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(48, 233, 171);
    align-self: center; 
    border: none;
    box-shadow: 1px 1px 20px #92f1d7;
}

#ft{margin-top: 5px;font-size: 17px;}

#f300-2{
    color: rgb(45, 205, 151); ;
    font-size: 25px;}


    